html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f7f7f7;
    font: normal 16px/1.3 "Dosis", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    position: relative;
}

.row::after,
.row::before {
    content: '';
    display: table;
    height: 0;
    visibility: hidden;
}

.row::after {
    clear: both;
}

.fa {
    color: white;
}

img {
    outline: none;
    border: none;
    display: block;
    width: 100%;
}

// @mixin rate-bar() {
//     @for $i from 1 through 10 {
//         &.rate-#{$i*10} {
//             width: #{$i*10%};
//         }
//     }
// }

.left {
    float: left;
}

.right {
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 5px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

/* mixin */
@mixin screen(){
    @media (max-width: 640px) {
        @content;
    }
}

.bg-red {
    background-color: rgb(255, 37, 37);
    border-top-color: rgb(255, 37, 37);
}

.bg-green {
    background-color: rgb(126, 172, 0);
    border-top-color: rgb(126, 172, 0);
}

.bg-blue {
    background-color: rgb(40, 136, 214);
    border-top-color: rgb(40, 136, 214);
}

.bg-yellow {
    background-color: rgb(255, 166, 0);
    border-top-color: rgb(255, 166, 0);
}

.col-1 {
    width: 40%;
    // background-color: #303030;
    color: white;
    position: relative;
    height: 100%;
    .personal__title {
        padding: 0 20px;
        margin: 10px auto;
        display: block;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: normal;
        position: relative;
        z-index:1;
        box-shadow: 0 6px 5px -3px black;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-top: 10px solid;
            border-right: 10px solid transparent;
            border-top-color: inherit;
            bottom: -9px;
            left: 40px;
            filter: drop-shadow(0 4px 2px black);
        }
    }
    .personal-list {
        padding: 10px 40px;
    }
    .personal-list__contact {
        display: table;
        margin: 10px 0;
        .fa{
            padding-right: 10px;
            display: table-cell;
            vertical-align: middle;
        }
        div{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .personnal-list__hobbies {
        text-align: justify;
        display: inline-block;
        padding: 10px 10px;
    }
    .percent-bar {
        margin: 5px auto;
        height: 6px;
        border-radius: 3px;
        background-color: rgb(22, 22, 22);
        position: relative;
    }
    .percent-bar__rate {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 6px;
        border-radius: 3px;
        background: white;
        // @include rate-bar;
    }
}
.background-left{
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #303030;
    z-index:0;
    box-shadow: 3px 3px 15px rgba(#000000, 0.9);
    @include screen(){
        display: none;
        box-shadow: none;
    }
}
.wrapper{
    width:40%;
    padding:40px;
    // background-color: #303030;
    position: relative;
    z-index: 1;
}
.avatar {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    &::after{
        display:block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: inset 10px 10px 30px #303030;
        border-radius: 50%;
    }
}
.avatar__img {
    height: 0;
    padding-bottom: 100%;
    background: url("avatar.jpg") center no-repeat;
    background-size: cover;
    filter: blur(3px);
}
.col-2 {
    width: 60%;
    color: #303030;
    padding: 80px 50px;
    .title-name {
        margin: 0;
        line-height: 1;
    }
    .name {
        text-transform: uppercase;
        margin: 0;
        font-size: 40px;
        font-weight: normal;
        line-height: 1;
    }
    .text-name {
        margin: 0;
    }
    .info {
        margin-top: 50px;
    }
    .info__item {
        margin-top: 30px;
        position: relative;
        .fa{
            color: #909090;
        }
        p {
            text-align: justify;
        }
    }
    .info__icon{
        position:absolute;
        top: 0;
        right: -30px;
    }
    .info__title,
    .timeline__title {
        text-transform: uppercase;
    }
    .timeline__title {
        color: rgb(255, 37, 37);
        font-size: 16px;
        span {
            color: #303030;
            padding-right: 10px;
        }
    }
    .timeline__item {
        margin: 15px auto;
        p {
            text-align: justify;
        }
    }
}

@include screen(){
    [class*="col"],.wrapper{
        width: 100%;
        float: none;

    }
    .col-2{
        padding: 0 40px;
    }
    .col-1{
        position: static;
        background-color: #303030;
    }
    .wrapper{
        background-color: transparent;
    }
}