html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f7f7f7;
  font: normal 16px/1.3 "Dosis", Arial, sans-serif; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  position: relative; }

.row::after,
.row::before {
  content: '';
  display: table;
  height: 0;
  visibility: hidden; }

.row::after {
  clear: both; }

.fa {
  color: white; }

img {
  outline: none;
  border: none;
  display: block;
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 5px auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto; }

/* mixin */
.bg-red {
  background-color: #ff2525;
  border-top-color: #ff2525; }

.bg-green {
  background-color: #7eac00;
  border-top-color: #7eac00; }

.bg-blue {
  background-color: #2888d6;
  border-top-color: #2888d6; }

.bg-yellow {
  background-color: #ffa600;
  border-top-color: #ffa600; }

.col-1 {
  width: 40%;
  background-color: #303030;
  color: white;
  position: relative;
  max-height: 100%; }
  .col-1 .personal__title {
    padding: 0 20px;
    margin: 10px auto;
    display: block;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: normal;
    position: relative; }
    .col-1 .personal__title::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-top: 10px solid;
      border-right: 10px solid transparent;
      border-top-color: inherit;
      bottom: -9px;
      left: 40px; }
  .col-1 .personal-list {
    padding: 10px 40px; }
  .col-1 .personal-list__contact {
    display: table;
    margin: 10px 0; }
    .col-1 .personal-list__contact .fa {
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle; }
    .col-1 .personal-list__contact div {
      display: table-cell;
      vertical-align: middle; }
  .col-1 .personnal-list__hobbies {
    text-align: justify;
    display: inline-block;
    padding: 10px 10px; }
  .col-1 .percent-bar {
    margin: 5px auto;
    height: 6px;
    border-radius: 3px;
    background-color: #161616;
    position: relative; }
  .col-1 .percent-bar__rate {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 6px;
    border-radius: 3px;
    background: white; }

.wrapper {
  width: 40%;
  padding: 40px;
  background-color: #303030; }

.avatar {
  width: 100%;
  border-radius: 50%;
  overflow: hidden; }

.avatar__img {
  height: 0;
  padding-bottom: 100%;
  background: url("avatar.jpg") center no-repeat;
  background-size: cover; }

.col-2 {
  width: 60%;
  color: #303030;
  padding: 80px 50px; }
  .col-2 .title-name {
    margin: 0;
    line-height: 1; }
  .col-2 .name {
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    line-height: 1; }
  .col-2 .text-name {
    margin: 0; }
  .col-2 .info {
    margin-top: 50px; }
  .col-2 .info__item {
    margin-top: 30px;
    position: relative; }
    .col-2 .info__item .fa {
      color: #909090; }
    .col-2 .info__item p {
      text-align: justify; }
  .col-2 .info__icon {
    position: absolute;
    top: 0;
    right: -30px; }
  .col-2 .info__title,
  .col-2 .timeline__title {
    text-transform: uppercase; }
  .col-2 .timeline__title {
    color: #ff2525;
    font-size: 16px; }
    .col-2 .timeline__title span {
      color: #303030;
      padding-right: 10px; }
  .col-2 .timeline__item {
    margin: 15px auto; }
    .col-2 .timeline__item p {
      text-align: justify; }

@media (max-width: 640px) {
  [class*="col"], .wrapper {
    width: 100%;
    float: none; }
  .col-2 {
    padding: 0 40px; }
  .col-1 {
    position: static; }
  .wrapper {
    background-color: transparent; } }
